<h1>Editing tutorials</h1>

<% form_for(@tutorials) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :lesson %><br />
    <%= f.text_area :lesson %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label :posted_by %><br />
    <%= f.text_field :posted_by %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tutorials %> |
<%= link_to 'Back', tutorials_path %>
