<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Songs: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<div class="wrap1">
<div class="wrap2">
<div class="logo">
<div style="display:inline; float:left;">
</div>
</div>

<div class="info">
<b>Within Literature there are endless sonic possibilities</b>
</div>

<div class="info"> 
<b>Search:</b>&nbsp; 
<input type="text" />
</div>

<b>
 <%= link_to_unless_current 'Main', root_path %> &nbsp;
  <%= link_to_unless_current 'Tutorials', :controller =>'tutorials' %> &nbsp;
	<%= link_to_unless_current 'Join',new_user_path%> &nbsp;
	  <%= link_to_unless_current 'Login', new_session_path %> &nbsp;
		<%= link_to_unless_current ' Create A Composition' ,new_song_path %> &nbsp;
		  <%= link_to_unless_current '' %> &nbsp;
</b>


<li><%= @sort_messages %><%= "created by " + current_user.login if current_user %></li><br/>

<!-- the main content area -->
<div class="mainpanel">
<div class="text_">
<div class="text">
<%= yield %>
</div>
</div>

<div class="text_">
<div class="text">
</div>
</div>

<div class="text_">
<div class="text">
</div>
</div>
</div>
 <!-- The right Panel section -->
<div class="rightpanel">
<div class="header">Recent Tutorials</div>	
<span class="divider" style="font-weight:bold;">Learn More<span>	
	<span class="divider"><a href="#">Tutorial 1</a> (Basic Theory)</span>
	<span class="divider"><a href="#">Tutorial 2</a> (Basic Theory )</span>

	
	
<div class="header">Recent Releases</div>
<div class="inquiry">
<span class="divider" style="font-weight:bold;">The Last 5 Newest Composition</span> 
<span class="divider"><a href="#">Viris delectus voluptatum</a> (467)</span>
<span class="divider"><a href="#">Has ne etiam epicuri</a> (1347)</span>
					 <span class="divider"><a href="#">Docendi honestatis eos ne</a> (608)</span> 
					 <span class="divider"><a href="#">Mel ex ullum probatus similique</a> (609)</span>
					 </div>

					 <div class="header">Literature 2 Music</div>
					 <div class="text">
						
		<strong>3031 Total Compositions</strong><br/><br />
		<strong>531 Members</strong><br /><br />
						

					 	<strong>Contact</strong><br /><br />
							E-mail: gabrielg1976@gmail.com<br />
							Twitter: Alphacore<br />
							Plurk:Alphacore<br />
					    <span class="divider">&nbsp;</span>
						<span class="divider"><strong>Share this Site</strong></span>
					
						</div> 

				</div>

			</div>

			<!-- Do not change anything here! It may disable your webpage. -->

			<div class="info1">
				<div style="display:inline; float:left;">&copy; 2008 <a href="#"></a>  <a href="http://tinyurl.com/alphacore" title="Webdesign, professional web solutions">GDG Consulting</a>.</div>
</div>

			<!-- Do not change anything here! It may disable your webpage. -->

		</div>

	</div>
</body>
</html>
