<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Songs: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<div class="wrap1">
<div class="wrap2">
<div class="logo">
<div style="display:inline; float:left;">
				Literature 2 Music 
</div>
<div style="display:inline; float:right">
<input type="text" />
</div>
</div>

<div class="info">
<b>Within Literature there are endless sonic possibilities</b> 
</div>

<b>
 <%= link_to 'Main'%> &nbsp;
  <%= link_to 'Tutorials'%> &nbsp;
	<%= link_to 'Sign-up'%> &nbsp;
	  <%= link_to 'Login'%> &nbsp;
		<%= link_to ''%> &nbsp;
		  <%= link_to ''%> &nbsp;
</b>

<!-- the main content area -->
<div class="mainpanel">
<div class="text_">
<h1><a href="#">Welcome on our website!</a></h1>
<div class="text">
<%= yield %>
</div>
</div>

<div class="text_">
<div class="text">
</div>
</div>

<div class="text_">
<div class="text">
</div>
</div>

</div>
 <!-- The right Panel section -->
<div class="rightpanel">
<div class="header">Recent Releases</div>
<div class="inquiry">
<span class="divider" style="font-weight:bold;">The Last 10 Newest Composition</span> 
<span class="divider"><a href="#">Viris delectus voluptatum</a> (467)</span>
<span class="divider"><a href="#">Has ne etiam epicuri</a> (1347)</span>
					 <span class="divider"><a href="#">Docendi honestatis eos ne</a> (608)</span> 
					 <span class="divider"><a href="#">Mel ex ullum probatus similique</a> (609)</span>
					 <strong>3031 votes</strong><br /><br />

					 </div>

					 <div class="header">Literature 2 Music</div>

					 <div class="text">

					 	<strong>Corporation ltd.</strong><br /><br />
						212 Military Parkway<br />
					    <span class="divider">Los Angeles, CA 94043</span>

						Telephone: +421 903 000 000<br />
						E-mail: e-mail@domain.com<br />
						ICQ: 000-000-000<br />
						<span class="divider">Skype: corporation1</span>

						Telephone: +421 903 000 000<br />
						E-mail: e-mail@domain.com<br />
						ICQ: 000-000-000<br />
						Skype: corporation1<br /><br />

					 </div> 

				</div>

			</div>

			<!-- Do not change anything here! It may disable your webpage. -->

			<div class="info1">
				<div style="display:inline; float:left;">&copy; 2008 <a href="#">yourwebsite.com</a>. Design <a href="http://pbcreations.sk" title="Webdesign, professional web solutions">P&amp;B Creations</a>.</div>
				<div style="display:inline; float:right;"><a href="http://www.topas-tachlovice.cz/topas-tachlovice.aspx" title="ObËanskÈ sdruûenÌ Topas Tachlovice">Tachlovice</a></div>
			</div>

			<!-- Do not change anything here! It may disable your webpage. -->

		</div>

	</div>
</body>
</html>
